<!DOCTYPE HTML>
<html>
	<head>
		<title>Evan S. Regot | Contact Me</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./static/css/main.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Racing+Sans+One&display=swap" rel="stylesheet">
		<noscript><link rel="stylesheet" href="./static/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
		<div id="wrapper">
			<!-- Header -->
			<header id="header" class="alt style3">
				<a href="index.html" class="logo"><strong>ESR</strong> <span>Software Developer</span></a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>
			<!-- Menu -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="resume.html">Resume</a></li>
					<li><a href="projects.html">Projects &amp Coursework</a></li>
					<li><a href="contact.html">Contact Me</a></li>
				</ul>
			</nav>
			<!-- Banner -->
			<section id="banner" class="style3">
				<div class="inner">
					<span class="image">
						<img src="static/images/pic07.jpg" alt="" />
					</span>
					<header class="major">
						<h1 style="font-family:'Press Start 2P', cursive; letter-spacing: -4px;">Contact Me</h1>
					</header>
					<div class="content">
						<p>Thank you for visiting<br />
						to contact me please fill out the form below</p>
					</div>
				</div>
			</section>
			<!-- Contact -->
			<section id="contact">
				<div class="inner">
					<section>
						<form method="post" action="submit_form">
							<div class="fields">
								<div class="field half">
									<label for="name">Name</label>
									<input type="text" name="name" id="name" />
								</div>
								<div class="field half">
									<label for="email">Email</label>
									<input type="text" name="email" id="email" />
								</div>
								<div class="field">
									<label for="text">Subject</label>
									<input type="text" name="subject" id="subject" />
								</div>
								<div class="field">
									<label for="message">Message</label>
									<textarea name="message" id="message" rows="6"></textarea>
								</div>
							</div>
							<ul class="actions">
								<li><input type="submit" value="Send Message" class="primary" /></li>
								<li><input type="reset" value="Clear" /></li>
							</ul>
						</form>
					</section>
					<section class="split">
						<section>
							<div class="contact-method">
								<span class="icon solid alt fa-envelope"></span>
								<h3>Email</h3>
								<a href="#">contact@evanregot.com</a>
							</div>
						</section>
						
						<section>
							<div class="contact-method">
								<span class="icon solid alt fa-home"></span>
								<h3>Location</h3>
								<span>St. Louis, MO<br />
								United States of America</span>
							</div>
						</section>
					</section>
				</div>
			</section>
			<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="https://github.com/eregot" target="_blank" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="https://www.linkedin.com/in/eregot" target="_blank" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
					</ul>
					<ul class="copyright">
						<li>2022 - Evan S. Regot</li>
					</ul>
				</div>
			</footer>
		</div>
		<!-- Scripts -->
		<script src="./static/js/jquery.min.js"></script>
		<script src="./static/js/jquery.scrolly.min.js"></script>
		<script src="./static/js/jquery.scrollex.min.js"></script>
		<script src="./static/js/browser.min.js"></script>
		<script src="./static/js/breakpoints.min.js"></script>
		<script src="./static/js/util.js"></script>
		<script src="./static/js/main.js"></script>
	</body>
</html>