<!DOCTYPE HTML>
<html>
	<head>
		<title>Evan S. Regot | Resume</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./static/css/main.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Racing+Sans+One&display=swap" rel="stylesheet">
		<noscript><link rel="stylesheet" href="./static/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
		<div id="wrapper">
			<!-- Header -->
			<header id="header" class="alt style6">
				<a href="index.html" class="logo"><strong>ESR</strong> <span>software developer</span></a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>
			<!-- Menu -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="resume.html">Resume</a></li>
					<li><a href="projects.html">Projects &amp Coursework</a></li>
					<li><a href="contact.html">Contact Me</a></li>
				</ul>
			</nav>
			<!-- Banner -->
			<section id="banner" class="style6" >
				<div class="inner">
					<span class="image">
						<img src="./static/images/pic07.jpg" alt="" />
					</span>
					<header class="major">
						<h1 style="font-family:'Press Start 2P', cursive; letter-spacing: -4px;">Resume</h1>
					</header>
					<div class="content">
						<ul class="actions">
							<li><a href="generic.html" class="button primary">Download Resume.pdf</a></li>
						</ul>
					</div>
				</div>
			</section>
			<!-- Main -->
			<div id="main">
				<section id="one">
					<div class="inner">
						<header class="major">
							<h2>Programming Skills</h2>
						</header>
						<h3><a href="csharp.html" style="text-decoration: underline;">C#</a></h3>
						<h3><a href="java.html" style="text-decoration: underline;">Java</a></h3>
						<h3><a href="python.html" style="text-decoration: underline;">Python</a></h3>
						<h3><a href="webdev.html" style="text-decoration: underline;">Responsive Web Development</a></h3>
					</div>
				</section>
				<section id="one">
					<div class="inner">
						<header class="major">
							<h2>Education</h2>
						</header>
						<h3>Lindenwood University - St. Charles, MO</h3>
						<p>Bachelor of Science in Information Technology with emphasis in Applications Development<br/>Graduated Summer 2022</p>

						<h3>Ranken Technical College - Wentzville, MO</h3>
						<p>Associates Degree in Application and Web Development<br/>Graduated Magna Cum Laude in May 2019</p>

						<h3>Fort Zumwalt South High School - St. Peters, MO</h3>
						<p>Graduated June 2017</p>
					</div>
				</section>
				<section id="one">
					<div class="inner">
						<header class="major">
							<h2>Work Experience</h2>
						</header>
						<h3>Normandie Golf Course - Assistant Pro - St. Louis, MO<br>Mar 2021 - Present</h3>
						<p>- Greeted and checked in all incoming members and guestss
						<br/>- Tracked and reported pro shop inventory</p>

						<h3>AutoAssure - Inside Sales Representative - St. Peters, MO<br>Mar 2020 - Dec 2020</h3>
						<p>- Responsible for selling vehicle service contracts through inbound and outbound calls
						<br/>- Assisted current customers nationwide with any problems or inquiries regarding their service contracts</p>

						<h3>Marriott Streamside - Customer Service Representative - Vail, CO<br>Nov 2019 - Mar 2020</h3>
						<p>- Provided customer service to members and guests, and addressed and resolved any complaints or questions that arose 
						<br>- Greeted and checked in all incoming members and guests</p>
					</div>
				</section>
			</div>
			<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="https://github.com/eregot" target="_blank" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="https://www.linkedin.com/in/eregot" target="_blank" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
					</ul>
					<ul class="copyright">
						<li>2022 - Evan S. Regot</li>
					</ul>
				</div>
			</footer>
		</div>
		<!-- Scripts -->
		<script src="./static/js/jquery.min.js"></script>
		<script src="./static/js/jquery.scrolly.min.js"></script>
		<script src="./static/js/jquery.scrollex.min.js"></script>
		<script src="./static/js/browser.min.js"></script>
		<script src="./static/js/breakpoints.min.js"></script>
		<script src="./static/js/util.js"></script>
		<script src="./static/js/main.js"></script>
	</body>
</html>